In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data = pd.read_excel('F:\AndiSurya\kuliah\LATUas\LATUas\dataset_soal No.1.xls')

In [3]:
data.head()

      Age  Income Student Credit_rating Class (buy_computer)
0   <= 30    High      No          Fair                   No
1   <= 30    High      No     Excellent                   No
2  31..40    High      No          Fair                  Yes
3    > 40  Medium      No          Fair                  Yes
4    > 40     Low     Yes          Fair                  Yes

In [4]:
data.shape

(56, 5)

In [6]:
data['Student'].value_counts()

Yes    29
No     27
Name: Student, dtype: int64

In [7]:
PYes = 29/56
PNo = 27/56

In [8]:
print(PYes)

0.5178571428571429

In [9]:
print(PNo)

0.48214285714285715

In [10]:
pd.crosstab(data['Income'],data['Student'])

Student  No  Yes
Income
High     11    2
Low       1   20
Medium   15    7

In [11]:
PHighNo = 11/27
PLowNo = 1/27
PMedium = 15/27

PHighYes = 2/29
PLowYes = 20/29
PMediumYes = 7/29

PHigh = 13/56
PLow = 21/56
PMedium =22/56

print (PMediumYes)

0.2413793103448276